<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <title>About Me!</title>
  </head>
  <body class="aboutBody">

    <section class="secAbout">
        <div class="mainPage">
        <div class="intro" id="left">
            <h2>Hello, I'm Mukul,<br></h2>
            <h3>A Software Engineer Student,</br>
            I love working on intresting projects.</br>
            If you are reading this, there is a strong possiblity that </br>
            I am working on a project.  
            </h3>
            <button class="but"><a href="#">Contact Me!</a></button>
        </div>
        <div class="wrapper" id="wrap">   
            <h2><p class="haveWorked">I have worked with </p></h2>
            <div class="Tech">
            <h2><span>JavaScript</span></h2>
            <h2><span>Java</span></h2>
            <h2><span>MySQL</span></h2>
            <h2><span>JSON</span></h2>
            <h2><span>APIs</span></h2>
            <h2><span>.NET C#</span></h2>
            </div>
    </section>

  </body>
</html>