<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <title>About Me!</title>
  </head>
  <body class="aboutBody">

        <div class="aboutPage">
        <div class="intro" id="left">
            <h2>Hello, I am Mukul,<br></h2>
            <h3 style="font-size: clamp(0.6rem, 2vw + 0.5rem, 2.6rem);">A Software Engineer Student,
                I love working on intresting projects.
                If you are reading this, there is a strong possiblity that 
                I am working on a project.  
            </h3>

            <button class="but1"><a href="/contact">Contact Me!</a></button>

            <h2 style="color: #EE1D52;">I have worked with: </h2>
            <h3 class= "tech" style="color:#EE1D52">JavaScript</h3>
            <h3 class= "tech" style="color:#EE1D52">Java</h3>
            <h3 class= "tech" style="color:#EE1D52">MySQL</h3>
            <h3 class= "tech" style="color:#EE1D52">APIs</h3>
            <h3 class= "tech" style="color:#EE1D52">JSON</h3>
            <h3 class= "tech" style="color:#EE1D52">.NET C#</h3>
        </div>
  </body>
</html>