<section class="sec">
<div class="mainPage">
<div class="intro" id="left">
     <h1>Hello,<br>I'm Mukul,<br>Full Stack Developer</h1>
     <button class="but"><a href="#">Contact Me!</a></button>
</div>
<div class="memeoji" id="right">   
     <img src="/images/Img-01.png">
</section>
