<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<section class="sec">
<div class="mainPage">
<div class="intro" >
     <h1>Hello,<br>I'm Mukul,<br>Full Stack Developer</h1>
</div>     
<div class= "idk1" id="contMe">     
     <button class="contMeClass"><a href="/project">My Projects</a></button>
</div>      
<div class="memeoji" id="right">   
     <img id="imgpro" src="/images/Img-01.png">
</div>
<div class= "idk1" id="aboutMeID">
     <button class="aboutMeClass"><a href="/about">About Me!</a></button>
</div>
<div class= "idk1" id="contMe">     
     <button class="contMeClass"><a href="/contact">Contact Me!</a></button>
</div>      
</div>    
</section>
