<section class="projectSec" style="height:30rem">

<h1>Here are some of my Projects!</h1>

<div class="card col-3 ms-4" style="width: 18rem;">
  <img class="card-img-top" src="/images/MovieSearch.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">IMDB Movie Search Application</h5>
    <p class="card-text">Creating an IMDB Movie Search desktop application using Java, IMDB API and SceneBuilder.</p>
    <a href="https://github.com/Mukul4git/IMDB-Movie-Search-Using-Java" class="btn btn-primary">Github Repo</a>
  </div>
</div>

<div class="card col-3 ms-4" style="width: 18rem;">
  <img class="card-img-top" src="/images/Assign-1.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">UI Development Using JavaFX and Java</h5>
    <p class="card-text">Creating and Switching through Scenes for Desktop application created using Java, JavaFX and SceneBuilder</p>
    <a href="https://github.com/Mukul4git/UI-Dev-Using-JavaFX" class="btn btn-primary">Github Repo</a>
  </div>
</div>

<div class="card col-3 ms-4" style="width: 18rem;">
  <img class="card-img-top" src="/images/Aspnet.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Changes to ASP .NET Site MVC Pattern</h5>
    <p class="card-text">Worked on a working Site and made some changes to the Model, View, Controller of the site Using C#</p>
    <a href="https://github.com/Mukul4git/WorkingWithMVC_CSharp" class="btn btn-primary">Github Repo</a>
  </div>
</div>

</section>

