<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="project">

<div class="card col-3 ms-4" style="min-width: 16rem; background-color: Black; max-width: 18rem;
                                      width: fit-content;
                                      justify-content: center;
                                      opacity: 0;
                                      transform: translateY(3rem);
                                      animation: fadeInUp 1s ease 1s forwards ;">
    <img class="card-img-top" src="/images/codeproj.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: #EE1D52">My Projects</h5>
      <p class="card-text" style="color: #69C9D0;">Here are some of my Projects that I have worked on and I am still working on the Bug Tracker App.</p>
</div>
</div>

<div class="card col-3 ms-4" style="min-width: 16rem; background-color: Black; max-width: 18rem;
                                      width: fit-content;
                                      justify-content: center;
                                      opacity: 0;
                                      transform: translateY(3rem);
                                      animation: fadeInUp 1.5s ease 1.5s forwards;";>
    <img class="card-img-top" src="/images/webport.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: #EE1D52">Website Portfolio</h5>
      <p class="card-text" style="color: #69C9D0;">Created a Website Portfolio for myself using Express, Node JS and Handlebars.</p>
      <a href="https://github.com/Mukul4git/portfolioWebsite" class="btn btn-primary">Github Repo</a>
</div>
</div>

<div class="card col-3 ms-4" style="min-width: 16rem; background-color: Black; max-width: 18rem;
                                      width: fit-content;
                                      justify-content: center;
                                      opacity: 0;
                                      transform: translateY(3rem);
                                      animation: fadeInUp 1.5s ease 1.5s forwards;";>
    <img class="card-img-top" src="/images/bugTracker.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: #EE1D52">Bug Tracker/Issue Tracking WebApp</h5>
      <p class="card-text" style="color: #69C9D0;">I am currently working on a Bug Tracker also knowns as Issue Tracker like Monday.com and Jira etc.</p>
      <a href="https://github.com/Mukul4git/BugTrackingSystem.git" class="btn btn-primary">Github Repo</a>
</div>
</div>


<div class="card col-3 ms-4" style="min-width: 16rem; background-color: Black; max-width: 18rem;
                                      width: fit-content;
                                      justify-content: center;
                                      opacity: 0;
                                      transform: translateY(3rem);
                                      animation: fadeInUp 2s ease 2s forwards;">
  <img class="card-img-top" src="/images/MovieSearch.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: #EE1D52">IMDB Movie Search Application</h5>
    <p class="card-text" style="color: #69C9D0;">Created an IMDB Movie Search desktop application using Java, IMDB API and SceneBuilder.</p>
    <a href="https://github.com/Mukul4git/IMDB-Movie-Search-Using-Java" class="btn btn-primary">Github Repo</a>
  </div>
</div>

  <div class="card col-3 ms-4" style="min-width: 16rem; background-color: Black; max-width: 18rem;
                                      width: fit-content;
                                      justify-content: center;
                                      opacity: 0;
                                      transform: translateY(3rem);
                                      animation: fadeInUp 2.5s ease 2.5s forwards;">
    <img class="card-img-top" src="/images/Assign-1.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: #EE1D52">UI Development Using JavaFX and Java</h5>
      <p class="card-text" style="color: #69C9D0;">Created and Switching through Scenes for Desktop application created using Java, JavaFX and SceneBuilder</p>
      <a href="https://github.com/Mukul4git/UI-Dev-Using-JavaFX" class="btn btn-primary">Github Repo</a>
    </div>
  </div>
</div>


<!--Making Some Changes to Update the Remote of Git -->